grant {
	permission java.net.SocketPermission "*:1024-", "connect, resolve, accept";
	permission java.net.SocketPermission "*:80", "connect";
	permission java.io.FilePermission "", "read";
};