grant {
	permission java.net.SocketPermission "", "connect, resolve, accept";
	permission java.net.SocketPermission "26.26.70.176", "connect, resolve, accept";
    permission java.io.FilePermission "<<ALL FILES>>", "read,execute,write";
};